* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    /* color general */
    --first-color: white;
    --second-color: black;
    /* colores iconos */
    --color-face: #3b5998;
    --color-youtube: #e93131;
    --color-instagram: #bc2a8d;
    --color-twitter: #00aced;
  
    /* Sirve para desplazarse */
    scroll-behavior: smooth;
  }
  

/* menu */
body{
    height: 100vh;
    background: var(--first-color);
    background-image: url(../img/manantial.jpg);
    background-size: cover;
    background-position: center;
  }
  li{
    list-style: none;  
  }
  a {
    text-decoration: none;
    color: var(--second-color);
    font-size: 1rem;  
  }
  a:hover {
    color: var(--color-youtube);
  }
  header{
    position: relative;
    padding: 0 2rem;
  }
  .navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
  }
  .navbar .links{
    display: flex;
    gap: 2rem;
  }
  .navbar .ri-bar-chart-horizontal-line{
    color: var(--second-color);
  }
  .navbar .toggle_btn{
    color: var(--color-face);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  } 
/* Menu btn */
.dropDown{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background-color: rgba(255, 255, 255 , 0);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s ;
}
.dropDown.open{
    height: 240px;
}
.dropDown li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
  /* responsive */
  @media screen and (max-width:992px) {
    .navbar .links{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropDown{
        display: block;
    }
  }